<div id="addfollower" class="modal" style="display: none;">
  	
	<%= form_tag(add_follower_path(@doc.id), :html => {:method => :put, :class => 'form-horizontal' }) do %>
	  
		<div class="modal-header">
	      <a class="close" data-dismiss="modal">&#215;</a>
	      <h3>Submit your feedback</h3>
	    </div>
	
	    <div class="modal-body">
			<p><%= text_area_tag "commenttext", ""%></p>
	    </div>

			<%= select_tag("user", options_from_collection_for_select(@users, :id, :name) )%>
			
			
	    <div class="modal-footer">
	      <%= submit_tag("Add user to document", class: "btn btn-small btn-primary") %>
	      <a class="btn" data-dismiss="modal" href="#">Close</a>
	    </div>
		
	  
	
	
	<% end %>
	
</div>