<div id="feature_comment-<%= @f.id%>" class="modal" style="display: none;">
  	
	<%= form_tag(create_feature_comment_path(@f.id), :html => {:method => :put, :class => 'form-horizontal' }) do %>
	  
		<div class="modal-header">
	      <a class="close" data-dismiss="modal">&#215;</a>
	      <h3>Submit your feedback</h3>
	    </div>
	
	    <div class="modal-body">
			<p><%= text_area_tag "commenttext", ""%></p>
	    </div>
	    <div class="modal-footer">
	      <%= submit_tag("Add Comment", class: "btn btn-small btn-primary") %>
	      <a class="btn" data-dismiss="modal" href="#">Close</a>
	    </div>
		
	  	
	<% end %>
	
</div>