<!DOCTYPE html>
<html lang="en">






<div class="row-fluid">
  <div class="span3">
  	  <a class="pull-left" href= <%=root_path%>>
  			<p><%= image_tag "images/release-logo.jpg" , :size => "350x350"%></p>
			<p class= "lead pull-right"> We believe in simplifying the complex</p>
  	  </a>
	  

  </div>
  <div class="span5">
	  
	  <dl>
	    <dt><p class="text-info">Documents suck</p></dt>
	    <dd>Documents are relics from a past. A past ruled by the printer, paper cuts, and long attention spans</dd>
		<dd><p></p></dd>
	    <dt><p class="text-info">Email... the worst</p></dt>
		<dd>Feedback, versions, ideas... lost in the inbox</dd>
	  </dl>
	  

  </div>
  <div class="span4">
	  
	  
	  <dl>
	    <dt><p class="text-info">Stories are better</p></dt>
	    <dd>Stories are to the point descriptions of what needs to get done. Stories can be discussed, changed, liked, disliked, emailed, commented, and versioned</dd>
		<dd><p></p></dd>
	    <dt><p class="text-info">Boards are made of stories</p></dt>
		<dd>Simply put... boards contain many stories... they can be private (only for the eyes you want) or public (for use by all)</dd>
	  </dl>
	 
  </div>
</div>

<hr />

<div class="row-fluid">

  <div class="span12">
	 
	  <p>Bckto "Back To" allows your team to take complex ideas like apps, legal contracts, visual designs, todo lists and break them up into stories. Stories can be reviewed independently... they can be updated... and their versions tracked. The Bckto web app will keep your team focused on the target and reduce time spent running around looking for lost information... Join Us!</p>
	  
  </div>


</div>



<hr />





</html>