<!DOCTYPE html>
<html lang="en">

<div class="hero-unit">
  <h2>BckTo</h2>
  <p><em>Design, Build, Learn</em></p>
  <p>What's new 12/10/12</p>
   	<p>
		<ul>
			<li>Board admin users can now administer access and add other users as admins</li>
	  		<li>Public and private documents - by default all projects are public. Please make your projects private</li>
	  		<li>Invite users - you can now invite current users to follow your documents</li>
		</ul>
	
	</p>
</div>


<h3>Home</h3>
<% @users.each do |user| %>
  <p>User: <%=link_to user.name, user %></p>
<% end %>

</html>