<!DOCTYPE html>
<html lang="en">

<div class="hero-unit">
  <h2>BckTo</h2>
  <p><em>Design, Build, Learn</em></p>
  <p>What's new 12/22/12</p>
   	<p>
		<ul>
			<li>Stories now now support versions</li>
			<li>Users can now following users and boards</li>
			<li>Notification emails are now sent when a section/feature is new or updated</li>
			<li>Users can now invite collaborators through email to work on a board together</li>
			<li>Email notifications are now sent out to board followers when a user creates feedback</li>
			<li>Fixed multiple defects... sorry for writing crappy code</li>
			<li>Board admin users can now administer access and add other users as admins</li>
	  		<li>Public and private documents - by default all projects are public. Please make your projects private</li>
	  		<li>Invite users - you can now invite current users to follow your documents</li>
		</ul>
	
	</p>
</div>


</html>