<!DOCTYPE html>
<html lang="en">

<div class="hero-unit">
  <h2>BckTo</h2>
  <p><em>Design, Build, Learn</em></p>
  <p>New 2/17/13</p>
   	<p>
		<ul>
			<li>WYSIWYG editor for Board and Story descriptions</li>
		</ul>
	</p>
  <p>What's new 2/10/13</p>
   	<p>
		<ul>
			<li>Soon to come news feed and board specific chat</li>
			<li>Many UI updates... can you tell?</li>
			<li>Many bug fixes... again sorry for writing crappy code</li>
			<li>Stories now now support versions</li>
		</ul>
	</p>
</div>


</html>