	
	<% 

		u = User.find(@feature.owner_list)
		owner = @feature.owner_list
		p = @feature.parent_doc_list

		@doc = Doc.find(p[0])
		docowner = @doc.owner_list
		
		@subfeatures = @feature.following_features
		@subfeatures = @subfeatures.order("created_at ASC")

	 %>
	
	
<% @subfeatures.each do |subfeature| %>
	<% 
	@subfeature = subfeature 
	@version = Featurever.where(:featureid => @subfeature.id)
	%>
	<%
	if @version.size > 0
	%>
		<%= render "features/versionsubfeature" %>
	<%else%>
		<%= render "features/initialsubfeature" %>
	<%end%>
<% end %>  


<%= render "features/newsubsection" %>
 </div>